@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--hed-burban-color: #071949;
	--heading-dark-text: #757575;
	--color-burban-orange: #ff4d00;
	--heading-text-light: #464646;
	--background-light-blue: #F5F8FA;
	--border: 1px solid;
	--border-color-light: #f8f9fa;
	--border-color: #A8A8A8;
	--border-radius: 5px;
	--font-weight: 600;
	--background: #FFFFFF;
	--text-white-color: #FFFFFF;
	--orange-background-light: rgba(255, 77, 0, 0.2);
	--box-shadow: 0px 24px 48px -12px rgba(29, 71, 100, 0.06);
	/* --hover-box-shadow: 1px 10px 20px 1px rgba(159, 159, 159, .5); */
}

body {
	font-family: 'Lato', sans-serif;
}

/* Header css starts*/
a,
a:hover,
button,
button:hover {
	text-decoration: none;
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	-o-transition: 1s ease-out;
	transition: 1s ease-out;
}

.clearfix {
	clear: both;
}

img {
	max-width: 100%;
}

.header_container {
	width: 100%;
	margin: auto;
	padding: 16px 0;
	background: var(--background);
}

.w200 {
	width: 235px;
}

.right_icn {
	text-align: right;
}

.dropdown-toggle::after {
	vertical-align: middle;
	color: #FF4D00
}

.main_menu .navbar-expand-lg .navbar-nav .nav-link {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #464646;
	padding: 0 1rem;

	line-height: 30px;
}

.main_menu .navbar-expand-lg .navbar-nav .nav-link:hover {
	color: #FF4D00;
}

.main_menu .navbar-expand-lg .navbar-nav .dropdown-menu li a {
	font-weight: 700;
}

.main_menu .navbar-expand-lg .navbar-nav .dropdown-menu li a:hover {
	color: #FF4D00;
	background: #FFEDE6;
	border-radius: var(--border-radius);
}

.right_icn a img {
	transform: rotate(0deg);
	text-decoration: none;
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	-o-transition: 1s ease-out;
	transition: 1s ease-out;
}

.right_icn a:hover img {
	transform: rotate(360deg);
	text-decoration: none;
	-webkit-transition: 1s ease-out;
	-moz-transition: 1s ease-out;
	-o-transition: 1s ease-out;
	transition: 1s ease-out;
}

.brd_gray {
	border-top: 1px solid #d1d1d1;
	padding: 18px 0 50px 0;
}

li.drop-padding {
	padding: 0 10px;
}

/* Header css end */

/* Header media queries*/

@media (min-width: 1024px) and (max-width: 1279px) {
	.header_container {
		width: 96%;
	}

	.w200 {
		width: 160px;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.w200 {
		width: 100%;
	}

	.d-flex.mob_block {
		display: block !important;
	}

	.logo {
		position: relative;
		left: 70px;
		width: 170px;
	}

	.logo img {
		max-width: 160px;
	}

	.header_container {
		padding: 16px 16px 0 16px;
		width: 100%;
	}

	.navbar-toggler {
		border: 1px solid #FF4D00;
		background-color: #FF4D00;
	}

	.main_menu .navbar {
		padding: 0;
	}

	.right_icn.w200 {
		position: absolute;
		right: 16px;
		top: 16px;
		width: 104px;
	}

	.navbar-toggler {
		position: absolute;
		top: -57px
	}

	.navbar.navbar-expand-lg.navbar-dark {
		padding: 0px 0;
		margin: 20px 0 0 0;
		text-align: center;
	}

	.main_menu .navbar-expand-lg .navbar-nav .dropdown-menu li a {
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {
	.w200 {
		width: 100%;
	}

	.d-flex.mob_block {
		display: block !important;
	}

	.logo {
		position: relative;
		left: 70px;
		width: 160px;
	}

	.logo img {
		max-width: 160px;
	}

	.header_container {
		padding: 16px 16px 0 16px;
		width: 100%;
	}

	.navbar-toggler {
		border: 1px solid #FF4D00;
		background-color: #FF4D00;
	}

	.main_menu .navbar {
		padding: 0;
	}

	.right_icn.w200 {
		position: absolute;
		right: 16px;
		top: 16px;
		width: 104px;
	}

	.navbar-toggler {
		position: absolute;
		top: -57px
	}

	.navbar.navbar-expand-lg.navbar-dark {
		padding: 0px 0;
		margin: 20px 0 0 0;
		text-align: center;
	}

	.main_menu .navbar-expand-lg .navbar-nav .dropdown-menu li a {
		text-align: center;
	}

	.last_nav ul li {
		float: none;
		text-align: center;
		display: block;
		padding: 0;
	}

	.social_icn a:last-child {
		display: block;
		padding-top: 20px;
	}
}

.btn-orange {
	background-color: var(--color-burban-orange);
	color: var(--text-white-color);
	border: none;
	font-weight: 600;
	border-radius: var(--border-radius);
}

.btn-orange:hover {
	color: var(--text-white-color);
}

.blue-color {
	color: var(--hed-burban-color);
}

.orange-color {
	color: var(--color-burban-orange);
}

.radio-orange {
	accent-color: var(--color-burban-orange);
}